<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Разработчик ProCrypt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="scroll-animation">
        <h1>Программист-разработчик</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/about">О приложении</a>
            <a href="/download">Скачать</a>
        </nav>
    </header>
    <main>
        <section class="fade-in">
            <p><strong>Резюме:</strong> Резюме</p>
            <p><strong>GitHub:</strong> GitHub</p>
            <p><strong>Email:</strong> Email</p>
            <p><strong>Реквизиты:</strong></p>
            <ul>
                <li>Номер телефона: +7(123)456-78-90</li>
            </ul>
        </section>
    </main>
    <footer>
        <a class="color-change" href="/">← Назад</a>
    </footer>
</body>
</html>